<main>
  <section>
    <div *ngIf="item">
      <h3 class="section-title">Item: {{item.id}}</h3>

          <form>
            <label class="form-label" for="name" >Name</label>
            <input class="form-control" id="name" name="name"
            disabled placeholder="{{item.name}}">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" id="description" name="description"
                   disabled placeholder="{{item.description}}">
            <label class="form-label" for="price" >Price</label>
            <input class="form-control" id="price" name="price"
                   disabled placeholder="{{item.price}}">
            <label class="form-label" for="stock" >Amount of stock</label>
            <input class="form-control" id="stock" name="stock"
                   disabled placeholder="{{item.amountOfStock}}">

            <button class="btn">EDIT</button>
            <button class="btn" (click)="goBack()">BACK</button>


          </form>
    </div>
  </section>
</main>

