<main>
  <section>
    <form>
      <input
        #searchBox
        class="form-control"
        placeholder="Filter by name...">
    </form>
    <!--(input)="search(searchBox.value)"-->
    <h3 class="section-title">Create Item</h3>

    <form>
      <label class="form-label" for="name" >Name</label>
      <input class="form-control" id="name" name="name">
      <label class="form-label" for="description">Description</label>
      <input class="form-control" id="description" name="description">
      <label class="form-label" for="price" >Price</label>
      <input class="form-control" id="price" name="price">
      <label class="form-label" for="stock" >Amount of stock</label>
      <input class="form-control" id="stock" name="stock">


      <button class="btn btn-create">CREATE</button>

      <button class="btn">CANCEL</button>
    </form>

  </section>
</main>
